<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="Зарплата"
        android:icon="@drawable/ic_warehouse_logo"
        android:roundIcon="@drawable/ic_warehouse_logo"
        android:theme="@style/WarehouseTheme"
        tools:replace="android:label,android:icon,android:roundIcon,android:theme">

        <activity
            android:name="com.kersorus.timecalendar.WarehouseActivity"
            android:exported="true"
            tools:node="merge">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
